/**
   @file index.css
   @description stylesheet

   @date 2018-4
   @author Génesis García Morilla <gengns@gmail.com>
   @copyright gengns.com
 */

.hide {
  display: none;
}

.avoid-clicks {
  pointer-events: none;
}

/* Progress */
#waiting {
  position: fixed;
  top: 0;
  z-index: 9;
}

/* Main button */
.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
