/**
   @file links.css
   @description stylesheet

   @date 2018-5
   @author Génesis García Morilla <gengns@gmail.com>
   @copyright gengns.com
 */

#links select, #links input {
  margin: 5px 0 20px 0;
  padding: 5px;
}

#links div:not([class]) {
  border: 2px solid rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
  display: grid;
  grid-template-areas:
  "h h"
  "i i"
  "b b";
  grid-gap: 10px;
}

#links div:not([class]) h3 {
  text-transform: uppercase;
  grid-area: h;
}

#links div:not([class]) input {
  grid-area: span i / span 2;
}

#links div:not([class]) button {
  grid-area: span b / span 1;
}
