/**
   @file ready.css
   @description stylesheet

   @date 2018-4
   @author Génesis García Morilla <gengns@gmail.com>
   @copyright gengns.com
 */

#ready canvas {
  display: none;
}

#ready main {
  margin-bottom:  10px;
}

#ready footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

#ready .mdc-toolbar__row:first-child::after {
  background-image: url(../img/logo.png);
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}
