/**
  @file size.css
  @description stylesheet

  @date 2018-4
  @author Génesis García Morilla <gengns@gmail.com>
  @copyright gengns.com
 */

 #size input {
   margin: 5px 0 20px 0;
   padding: 5px;
 }

 #size div:not([class]) {
   border: 2px solid rgba(0, 0, 0, 0.87);
   border-radius: 10px;
   padding: 10px;
   margin: 15px 0;
   display: grid;
   grid-template-areas:
   "i i";
   grid-gap: 10px;
 }

 #size div:not([class]) input {
   grid-area: span i / span 2;
 }
