/**
  @file train.css
  @description stylesheet

  @date 2018-6
  @author Génesis García Morilla <gengns@gmail.com>

  @copyright gengns.com
 */

#train div.mdc-layout-grid {
  display: grid;
  grid-template-areas:
  "h h"
  "i i"
  "b b";
  grid-gap: 20px;
}

#train h2 {
  grid-area: h;
}

#train input {
  grid-area: i;
  margin-bottom: 15px;
}

#train button {
  grid-area: span b / span 1;
}
