<div id="links">
  <header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <a id="backward" href="#" class="material-icons mdc-toolbar__menu-icon">arrow_back</a>
        <span class="mdc-toolbar__title">Channel links</span>
      </section>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
        <a id="save" class="material-icons mdc-toolbar__icon">save</a>
        <a id="send" class="material-icons mdc-toolbar__icon">send</a>
      </section>
    </div>
  </header>

  <main>
    <div class="mdc-toolbar-fixed-adjust mdc-layout-grid">
      <h2>Choose where do you want to send them all</h2>
      <select>
        <option value="-1011185192841">INMOBET</option>
        <option value="-1101242177778">INFO</option>
      </select>

      <div>
        <h3>TITLE</h3>
        <input id="title" type="text" placeholder="title">
      </div>
    </div>
  </main>

  <button id="add" class="mdc-fab material-icons app-fab--absolute">
    <span class="mdc-fab__icon">add</span>
  </button>
</div>
