<div id="ready">
  <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall mdc-toolbar--flexible mdc-toolbar--flexible-default-behavior">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <a id="menu" href="#" class="material-icons mdc-toolbar__menu-icon">menu</a>
        <span class="mdc-toolbar__title">Ready</span>
      </section>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
        <a id="play" class="material-icons mdc-toolbar__icon">play_arrow</a>
        <a id="stop" class="material-icons mdc-toolbar__icon">stop</a>
      </section>
    </div>
  </header>

  <aside class="mdc-drawer mdc-drawer--temporary">
    <nav class="mdc-drawer__drawer">
      <header class="mdc-drawer__header">
        <div class="mdc-drawer__header-content mdc-theme--text-primary-on-primary mdc-theme--primary-bg">
          Inmobet
        </div>
      </header>
      <nav class="mdc-drawer__content mdc-list-group">
        <div class="mdc-list">
          <a id="train" class="mdc-list-item">
            <i class="material-icons mdc-list-item__graphic">games</i>Training
          </a>
          <a id="accuracy" class="mdc-list-item">
            <i class="material-icons mdc-list-item__graphic">camera</i>Accuracy
          </a>
          <a id="size" class="mdc-list-item">
            <i class="material-icons mdc-list-item__graphic">photo_size_select_large</i>Size
          </a>
          <a id="links" class="mdc-list-item">
            <i class="material-icons mdc-list-item__graphic">group_work</i>Channel links
          </a>
          <a id="export" class="mdc-list-item">
            <i class="material-icons mdc-list-item__graphic">file_upload</i>Export Raw Data
          </a>
          <a id="import" class="mdc-list-item">
            <i class="material-icons mdc-list-item__graphic">file_download</i>Import Raw Data
            <input class="hide" type="file">
          </a>
          <a id="beta" class="mdc-list-item">
            <i class="material-icons mdc-list-item__graphic">bug_report</i>Beta Testing&nbsp;<span>OFF</span>
          </a>
        </div>
      </nav>
    </nav>
  </aside>

  <main>
    <div class="mdc-toolbar-fixed-adjust">
      <p>
        <ol class="mdc-list mdc-list--two-line mdc-list--avatar-list"></ol>
      </p>
      <canvas></canvas>
    </div>
  </main>
  <footer>
    <span>Files processed since the app was opened: <span id="files">0</span></span>
  </footer>
</div>
