<div id="size">
  <header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <a id="backward" href="#" class="material-icons mdc-toolbar__menu-icon">arrow_back</a>
        <span class="mdc-toolbar__title">Size</span>
      </section>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
        <a id="save" class="material-icons mdc-toolbar__icon">save</a>
      </section>
    </div>
  </header>

  <main>
    <div class="mdc-toolbar-fixed-adjust mdc-layout-grid">
      <h2>Choose maximum width and height to filter images</h2>

      <div>
        <input id="width" type="number" placeholder="700">
        <input id="height" type="number" placeholder="500">
      </div>
    </div>
  </main>
</div>
