<div id="train">
  <header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <a id="backward" href="#" class="material-icons mdc-toolbar__menu-icon">arrow_back</a>
        <span class="mdc-toolbar__title">Training</span>
      </section>
      <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
        <a id="undo" class="material-icons mdc-toolbar__icon">undo</a>
        <a id="delete" class="material-icons mdc-toolbar__icon">delete</a>
      </section>
    </div>
  </header>

  <main>
    <div class="mdc-toolbar-fixed-adjust mdc-layout-grid">
      <h2>Choose images to train or predict</h2>
      <input type="file" webkitdirectory accept="image/*">

      <button id="marta" class="mdc-button mdc-button--unelevated secondary-filled-button">Marta</button>
      <button id="logan" class="mdc-button mdc-button--unelevated secondary-filled-button">Logan</button>
      <button id="nothing" class="mdc-button mdc-button--outlined">Nothing</button>

      <button id="train-now" class="mdc-button mdc-button--unelevated">Train</button>
    </div>

    <button id="predict" class="mdc-fab material-icons app-fab--absolute">
      <span class="mdc-fab__icon">track_changes</span>
    </button>
  </main>
</div>
